h1 {
text-align: center;
color: blue;
}

.Inputs {
  text-align: center;
  display: flex;
  margin-left: 400px;
  
}

.reset {
  text-align: center;
  display: flex;
  margin-left: 600px;
  margin-top: 70px;
  height: 50px;
  width: 100px;
  background-color: #008CBA;
  color: white;
  font-size: large;
  display: inline-block;
}

.play {
  text-align: center;
  display: flex;
  margin-left: 600px;
  margin-top: 20px;
  background-color: #4CAF50; 
  height: 50px;
  width: 100px;
  text-size-adjust: 30px;
  color: white;
  font-size: large;
  display: inline-block;

}

.stop {
  text-align: center;
  display: flex;
  font-size: large;
  margin-left: 600px;
  margin-top: 20px;
  height: 50px;
  color: white;
  width: 100px;
  background-color: #f44336;
  display: inline-block;
}